<style>
  body{
      background-color: #223B56;
    }
	table {
      border-collapse: collapse;
      background-color: #223B56;
      font-family:Ubuntu Mono;
	    margin-left: 0;
      margin-right: auto;
      margin-bottom: 3px;
      border-spacing: 3;
      border-bottom: none;
      border-top: none;
  }
	table th {
      background-color: #2F4F4F;
      color: white;
      padding: 10px 5px;
      border-top: 2px solid black;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid black;
  }
	table td {
  	  vertical-align: top;
      padding: 3px 10px;
      border-top: 1px solid lightgray;
      border-left: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
      border-right: 1px solid lightgray;
  }
	table td.item {
      background-color: #708090;
      padding: 5px 5px;
      border-top: 0;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
  } 
	table.task {
	    border-collapse: collapse;
	    border: 0;
	    margin-left: 3px;
      margin-right: 3px;
      margin-top: 10;      
      margin-bottom: 10;
  }
  table.task td {
      background-color: #F5F5F5;
      padding: 1px 5px;
      border-top: 1px;
      border-left: 1px;
      border-bottom: 1px;
      border-right: 1px;
  }
  table.task td.proj {
      color: green;
  }
  table.task td.days {
      color: red;
  }
</style>
