body {
  background-color: #2F4F4F;
}
h1 {
  color:#DCDCDC; 
  text-align:center;
}
table {
  border-collapse: collapse;
  background-color: #223B56;
  font-family:Ubuntu Mono;
  margin-left: 0;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #DCDCDC;
}
table th {
  background-color: #2F4F4F;
  color: white;
  padding: 10px 5px;
  border: 0;
}
table td {
	vertical-align: top;
  padding: 3px 10px;
  border: 0;
}
table td.item {
  background-color: #708090;
  padding: 5px 5px;
  border: 0;
} 
table.task {
  margin-left: 3px;
  margin-right: auto;
  margin-top: 10;    
  margin-bottom: 10;
}
table.task td {
  background-color: #DCDCDC;
  padding: 1px 5px;
  border: 0;
}
table.task td.proj {
  color: green;
}
table.task td.days {
  color: red;
}
